<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <setting propertyKey="@Properties.StepGoal" title="@Strings.SettingStepGoal">
        <settingConfig type="numeric" min="1000" max="50000"/>
    </setting>

    <setting propertyKey="@Properties.AccentColor" title="@Strings.SettingAccent">
        <settingConfig type="list">
            <listEntry value="16755200">Amber</listEntry>
            <listEntry value="16733952">Hot</listEntry>
            <listEntry value="5614335">Ice</listEntry>
            <listEntry value="16777215">White</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.TimeStyle" title="@Strings.SettingTimeStyle">
        <settingConfig type="list">
            <listEntry value="0">Colon</listEntry>
            <listEntry value="1">Colored minutes</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.MinutesColor" title="@Strings.SettingMinutesColor">
        <settingConfig type="list">
            <listEntry value="0">Gray</listEntry>
            <listEntry value="1">Accent</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.LeadingZero" title="@Strings.SettingLeadingZero">
        <settingConfig type="boolean"/>
    </setting>

    <setting propertyKey="@Properties.BarStyle" title="@Strings.SettingBarStyle">
        <settingConfig type="list">
            <listEntry value="0">Segmented</listEntry>
            <listEntry value="1">Solid</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ShowMetrics" title="@Strings.SettingShowMetrics">
        <settingConfig type="boolean"/>
    </setting>
</settings>
